---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import LatestBlogPosts from '../components/LatestBlogPosts.astro';
import { Image } from '@astrojs/image/components';
import chrisImg from '../assets/chris.jpg';
import sammyImg from '../assets/sammy.jpg';

const ownerImgHeight = 1500;
---

<!DOCTYPE html>
<html lang='en-us'>
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main class='bg-amber-50 px-8 py-16 flex flex-col items-center text-slate-700 lowercase'>
            <section class='flex flex-row max-w-6xl mb-16'>
                <div class='flex flex-row basis-1/2 shrink-0 py-10 px-8 items-start'>
                    <div class='avatar'>
                        <div class='rounded-full px-4'>
                            <Image src={sammyImg} height={ownerImgHeight} aspectRatio='7:8' format='webp' />
                        </div>
                    </div>
                    <div class='avatar'>
                        <div class='rounded-full px-4'>
                            <Image src={chrisImg} height={ownerImgHeight} aspectRatio='7:8' format='webp' />
                        </div>
                    </div>
                </div>
                <div class='flex flex-col basis-1/2 shrink-0'>
                    <article>
                        <h2 class='text-5xl place-self-center'>welcome! 🐦</h2>
                        <p class='text-2xl'>
                            hi, we're sammy and chris! nightingale knits has been crafting hand-dyed yarn since 2020,
                            ensuring each colourway produced is unique and meets our high standards! Every order is packed
                            promptly with care and includes a hand written thank you note before being sent on it's way to
                            you :)
                        </p>
                    </article>
                </div>
            </section>
            <div class='divider'></div>
        </main>
        <Footer />
    </body>
</html>
